/* mettre en forme certains éléments de mon cadriciel display. */
template	{	display: none;	}
insert		{	display: block;	}
selection	{
	display: block;
	border: solid 2px var(--button-bg);
}
selection *	{	width: 100%;	}
selection p	{
	text-align: center;
	height: var(--button-height, 2em);
	line-height: var(--button-height, 2em);
	padding: 0.2em;
	padding-top: 0;
	color: var(--button-color, black);
	background-color: var(--button-bg, #DDD);
	border-style: var(--button-border, none);
}
selection p:before		{	content: 'Choisir: ';	}
selection option		{	display: none;	}
selection option:hover	{	font-weight: bold;	}
selection:hover option	{	display: block;	}
carousel	{
	display: grid;
	grid-template-columns: 1fr 80% 1fr;
	text-align: center;
	height: 2em;
	align-items: stretch;
}
carousel *	{
	box-sizing: border-box;
	height: 100%;
	margin: 0;
	padding: 0;
}
carousel p	{
	font-weight: bold;
	background-color: var(--button-bg, #DDD);
	color: var(--button-color, black);
}
carousel input	{	outline: none;	}
calendar selection {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
}
calendar selection p {	grid-column: 1/4;	}
calendar p:before		{	content: none;	}
calendar selection:nth-child(3) {	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;	}
calendar selection:nth-child(3) p {	grid-column: 1/8;	}
